@model AMaisImob_WEB.Models.CompanyAcceptTermViewModel
@using AMaisImob_WEB.Utils

@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<style type="text/css">
    .margin-top {
        margin-top: .4em;
    }

    .half-margin-top {
        margin-top: .2em;
    }

    .font-normal-size, .font-normal-size * {
        font-size: 18px !important;
    }

    .title {
        font-size: 18px !important;
    }

    body {
        background-color: #f1f1f1;
        padding: 20px;
    }

    .tooltip-inner {
        max-width: 550px;
        width: 550px;
        min-width: 550px;
    }
</style>
<div class="container-fluid BackgorundColorHeader shadow no-print" style="padding-top:1em;">
    <div class="row">
        <div class="card-body">
            <div class="col-md-12 text-center" style=" margin-bottom:1em;">
                <img src="@Url.Content("~/image/logo_AMaisImob.png")" class="img-circle" height="200">
            </div>
        </div>
    </div>
</div>
<div id="card-error" class="text-warning" style="text-align:center; display:none;">
    <i class="fas fa-exclamation-triangle" style="font-size: 5em;"></i>
    <br /><br />
    <h5 class="control-label text-center"><strong>Página expirada!</strong></h5>
</div>
<div id="page-content" style="display:none">
    <div class="row">
        <div class="col-md-12">
            <div class="card bg-light">
                <div class="font-normal-size card-header" style="text-align: center;">
                    <b class="title" style="font-family: Calibri; font-size: 14px">TERMO DE PARCERIA E ANGARIAÇÃO</b>
                </div>
                <div class="card-body" style="overflow: auto; height: 500px">
                    @(await Component.InvokeAsync<AMaisImob_WEB.ViewComponents.Company.CompanyAcceptTermViewComponent>(Model.CompanyId))
                </div>
            </div>
            <hr />
            <div class="card bg-light" style="width: auto;">
                <div class="card-header"><b>Dados do Responsável</b></div>
                <div style="font-size:small" class="card-body col-md-12 row">
                    <div class="col-md-6">
                        <p> <b>PARCEIRO:</b> @Model.Company.CompanyName</p>
                        <p> <b>EMAIL:</b> @Model.Company.Email</p>
                        <p> <b>ACEITO EM:</b> @(Model.Company.TermAcceptedDate.HasValue? Model.Company._TermAcceptedDate : "-")</p>
                    </div>
                    <div class="col-md-6">
                        <p> <b>CPF/CNPJ:</b> @Model.Company.CompanyDocument.CNPJOrCPFmask()</p>
                        <p> &nbsp;</p>
                        <p> <b><i style="color: #007bff; cursor: pointer;" data-toggle="tooltip" data-html="true" title="<b>O que é I.P.: código numérico atribuído a cada dispositivo conectado em uma rede. Como esse número é unico para cada aparelho, ele pode ser encarado como um R.G. do seu equipamento.</b>" class="fas fa-info-circle"></i>&nbsp;IP:</b> @(!string.IsNullOrWhiteSpace(Model.Company.TermAcceptedIP)? Model.Company.TermAcceptedIP : "-")</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <form action="@Url.Action("AcceptTerm", "Company")" method="post">
        <input type="hidden" name="CompanyId" value="@Model.CompanyId" />
        <input type="hidden" name="Token" value="@Model.Token" />
        <div class="row" style="margin-top:1em;">
            <div class="col-md-3 text-left"><a href="@Url.Action("Download","Company", new { id = Model.CompanyId})" type="button" class="btn btn-secondary text-white"><i class="fa fa-file-pdf"></i>&nbsp;Download PDF</a></div>
            <div class="col-md-9 text-right">
                @if (!Model.Company.TermAcceptedDate.HasValue)
                {
                    <button class="btn btn-success" id="acceptButton"><i class="fa fa-check"></i>&nbsp;Aceitar Termos</button>
                }
                else
                {
                    <a class="btn btn-primary" href="@Url.Action("Index", "Home")"><i class="fas fa-home"></i>&nbsp;Acessar o Portal</a>
                }
            </div>
        </div>
    </form>
</div>

@if (Model.HasError)
{
    <script type="text/javascript">
        $('#card-error').show();
        $('#page-content').hide();
    </script>
}
else
{
    <script type="text/javascript">
        $('#card-error').hide();
        $('#page-content').show();
    </script>
}

@if (!string.IsNullOrWhiteSpace(Model.Message))
{
    <script type="text/javascript">
        alert('@Html.Raw(Model.Message)');
    </script>
}

<script type="text/javascript">
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>