@model WEB.Models.AssistanceViewModel

<script type="text/javascript">
    _MaskData();
</script>

<script type="text/javascript">

function _AssistanceManageSave() {
    var d = $('#_AssistanceManageForm').serializeArray();
    $.post('@Url.Action("Manage", "Assistance")', d, function (data) {
        if (data.hasError) {
            $('#alertErrorAssistance').show();
            return;
        }
        _AssistanceManageCallBack(data.code);
	});
}

function _AssistanceManageValidate() {

    var _AssistanceManagehasError = false;
	$('.text-danger').remove();

    if (IsNullOrWhiteSpace($('#_AssistanceManageName').val())) {
        $('#_AssistanceManageName').after('<div class="text-danger">Preencha o nome.</div>');
        _AssistanceManagehasError = true;
	}

    if (IsNullOrWhiteSpace($('#_AssistanceManageValue').val())) {
        $('#_AssistanceManageValueArea').after('<div class="text-danger">Preencha o valor.</div>');
        _AssistanceManagehasError = true;
    }

    if (_AssistanceManagehasError) {
        $('#_AssistanceManageAlertError').show();
    } else {
        $('#_AssistanceManageAlertError').hide();
    }

    return (!_AssistanceManagehasError);
}

</script>
<div id="_AssistanceManageAlertError" class="alert alert-danger fade show text-center" role="alert" style="display: none;">
    <strong>Atenção!</strong> O Formulário contém erros.
</div>
<form id="_AssistanceManageForm" method="post">
    <input type="hidden" id="_AssistanceManageAssistanceId" name="AssistanceId" value="@Model.AssistanceId" />
    <div class="form-row">
        <div class="form-group col-md-8">
            <label class="control-label">Nome*</label>
            <input type="text" class="form-control" id="_AssistanceManageName" name="Name" value="@Model.Name" placeholder="Nome">
        </div>
        <div class="form-group col-md-4">
            <label class="control-label">Valor*</label>
            <div class="input-group mb-3" id="_AssistanceManageValueArea">
                <div class="input-group-prepend">
                    <span class="input-group-text">R$</span>
                </div>
                <input type="text" class="form-control money" id="_AssistanceManageValue" name="_Value" value="@Model._Value" placeholder="Valor">
            </div>
        </div>
        <div class="form-group col-md-12">
            <label class="control-label">Descrição</label>
            <textarea class="form-control" id="_AssistanceManageDescription" name="Description" placeholder="Descrição">@Model.Description</textarea>
        </div>
    </div>
</form>