@model CompanyViewModel
@using WEB.Utils


<style type="text/css">
    .margin-top {
        margin-top: .4em;
    }

    .half-margin-top {
        margin-top: .2em;
    }

    .font-normal-size, .font-normal-size * {
        font-size: 18px !important;
    }

    .title {
        font-size: 18px !important;
    }
</style>
<div class="margin-top font-normal-size" style="text-align: left;">
    <b class="title">TERMO DE PARCERIA E ANGARIAÇÃO</b>
    <br />
    <br />
</div>
@*<br />
    <div class="margin-top font-normal-size">
        Instrumento Particular que estabelece acordo entre <b>@Model.CompanyName (@Model.CompanyDocument.CNPJOrCPFmask())</b> e a <b>@WEB.Configuration.InsuranceConfiguration.CorretoraDisplayName</b>.
    </div>
    <div class="margin-top font-normal-size">
        <b>De um lado</b>, a empresa <b>@WEB.Configuration.InsuranceConfiguration.CorretoraDisplayName</b>, pesoa juridica de direito privado, cadastrada no <b>CNPJ 26.521.553/0001-83</b>, com sede <b>R MANOEL DA NOBREGA , 354 – CONJ 81 – CEP 04.001-001 , PARAISO – SÃO PAULO-SP.</b>
    </div>
    <div class="margin-top font-normal-size">
        <b>De outro lado</b>, simplesmente denominada <b>@Model.CompanyName (@Model.CompanyDocument.CNPJOrCPFmask())</b>, sendo este, identificado atraves dos seus representantes legais.
    </div>

    <div class="margin-top font-normal-size">
        Para efeito de comuniação de marketing, a <b>@WEB.Configuration.InsuranceConfiguration.CorretoraDisplayName</b>, usará a marca comercial de <b>@WEB.Configuration.InsuranceConfiguration.ClientDisplayName – SEGUROS @WEB.Configuration.InsuranceConfiguration.PartnerDisplayName.</b>
    </div>*@

