@model DTO.Client.ClientViewModel
@{
    ViewData["Title"] = "Calendário";
    Layout = "~/Views/Shared/_LayoutUplon.cshtml";

    string clientTaskId = null;
    if (Context.Request.Query.TryGetValue("clientTaskId", out Microsoft.Extensions.Primitives.StringValues _clientTaskId))
    {
        clientTaskId = _clientTaskId.ToString();
    }
}
<div class="mb-2">
    @if (Model != null)
    {
        <h2 style="font-size:25px;"><b>@Model.ClientName</b><br /><small>Tarefas Agendadas</small></h2>
    }
</div>
<div id="calendarViewComponent"></div>

<br />
<div class="row">
    <div class="col-md-12">
        <a href="@Url.Action("Index", "Client")" class="btn btn-secondary"><i class="simple-icon-arrow-left"></i> Voltar</a>
    </div>
</div>

<script type="text/javascript">
    $('#calendarViewComponent').load('@Url.Action("ClientCalendarViewComponent", "Client")', { clientId: @if(Model != null){<text>@Model.ClientId</text>}else{<text>null</text>}, clientTaskId: @if(!string.IsNullOrWhiteSpace(clientTaskId)) {<text>@clientTaskId</text>}else{<text>null</text>} });
</script>
