@model VendasDbContext.Models.SeguradoProfissional
@{
    Layout = "~/Views/Shared/_LayoutClean.cshtml";
    ViewData["Title"] = "Redefinição de senha";

    string tokenPassword = "";
    if (Context.Request.Query.ContainsKey("token"))
    {
        tokenPassword = Context.Request.Query["token"];
    }

}

<form id="form" action="@Url.Action("NewPassword","Account")" method="post">
    <div id="alertSuccessPasswordRecovery" class="alert alert-success fade show text-center" role="alert" style="display: none;">
        <strong>Sua senha foi alterada com sucesso!</strong>
    </div>
    <div class="card shadow">
        <div class="card-body">
            <input type="hidden" id="UserId" name="userId" value="@Model.SeguradoProfissionalId" />
            <input type="hidden" class="form-control" id="TokenPassword" name="TokenPassword" value="@tokenPassword">
            <div class="row">
                <div class="offset-md-4 col-md-4 form-control jumbotron" style="height:auto;">
                    <div id="card-error" class="text-warning" style="text-align:center; display:none;">
                        <i class="fas fa-exclamation-triangle" style="font-size: 5em;"></i>
                        <br /><br />
                        <h5 class="control-label text-center"><strong>Página expirada!</strong></h5>
                    </div>
                    <div id="card-data">
                        <div class="row" style="margin-bottom: 1em;">
                            <div class="col-md-12 text-center">
                                <img src="~/image/logoGuardMed.png" style="width:300px;" />
                            </div>
                            <div class="offset-1 col-10">
                                <hr />
                            </div>
                            <div class="col-md-12 text-center">
                                <h4 class="control-label text-center"><strong><i class="fas fa-chevron-right"></i>&nbsp;Redefinição da senha&nbsp;<i class="fas fa-chevron-left"></i></strong></h4>
                                <span>Utilize os campos abaixar para definir uma nova senha</span>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label" for="NewPassword">Nova Senha</label>
                            <input type="password" class="form-control" id="NewPassword" name="newPassword" placeholder="Nova Senha">
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label" for="NewPasswordConfirmation">Confirmação da Nova Senha</label>
                            <input type="password" class="form-control" id="NewPasswordConfirmation" value="" placeholder="Confirmação de Senha">
                        </div>
                        <div style="width: 100%; text-align: center">
                            <button type="button" id="buttonSubmit" class="btn btn-primary"><i class="fa fa-key"></i>&nbsp;Alterar Senha</button>
                        </div>
                        <script type="text/javascript">
					$('#buttonSubmit').click(function () {
						var hasError = false;
						$('#form .invalid-feedback').remove();
						$('#alertForm').hide();

						if (!IsNullOrWhiteSpace($('#NewPassword').val())) {

							// Password Confirmation
							if (IsNullOrWhiteSpace($('#NewPasswordConfirmation').val())) {
								$('#NewPasswordConfirmation').after('<div class="invalid-feedback">Preencha a confirmação de senha.</div>');
								hasError = true;
							}

							// Wrong Passwords Confirmation
							else if ($('#NewPasswordConfirmation').val() != $('#NewPassword').val()) {
								$('#NewPasswordConfirmation').after('<div class="invalid-feedback">Confirmação de senha incorreta.</div>');
								hasError = true;
							}
						}

						else {
							$('#NewPassword').after('<div class="invalid-feedback">Preencha a nova senha.</div>');
							hasError = true;
						}

						if (hasError) {
							$('#alertForm').show();
							$("html, body").animate({ scrollTop: 0 }, "slow");
							$('#form .invalid-feedback').show();
						}
						else {
							var d = { TokenPassword: '@tokenPassword', UserId: @Model.SeguradoProfissionalId,  NewPassword: $('#NewPassword').val()};
							$.ajax({
								url: '@Url.Action("NewPassword", "Account")',
								type: 'POST',
								dataType: 'json',
								data: d,
								success: function (data) {
                                    if (data) {
                                        alert("Senha alterada com sucesso!");
                                        document.location.href = "@Url.Action("Login", "Account")";
									}
									else {
										$('#alertSuccessPasswordRecovery').hide();
										$('#card-error').show();
										$('#card-data').hide();
									}
								}
							});
						}
					});
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>