@inject DAL.GLAS2Context context

@{ var guid = "_" + Guid.NewGuid().ToString("N");

	int companyLawId = -1;
	bool canDelete = false;

	if (ViewData.ContainsKey("companyLawId"))
	{
		int.TryParse(ViewData["companyLawId"].ToString(), out companyLawId);
	}

	if (ViewData.ContainsKey("canDelete"))
	{
		bool.TryParse(ViewData["canDelete"].ToString(), out canDelete);
	}

	bool companyLawIsCompleted = false;

	if (companyLawId != -1)
	{
		var companyLawFunctions = new BLL.Company.CompanyLawFunctions(context);
		companyLawIsCompleted = companyLawFunctions.CompanyLawIsCompleted(companyLawId);
	}
}


<div id="@guid">
	<div id="@Html.Raw(guid + "_attachmentContainer")">
		<i>Nenhum anexo encontrado.</i>
	</div>
    <script type="text/javascript">
        var _companyLawId;
        function _ListCompanyLawAttachments(companyLawId) {
            _companyLawId = companyLawId;
				var formData = new FormData();
				formData.append('companyLawId', companyLawId);
            $.ajax({
					url: '@Url.Action("List", "CompanyLawAttachmentManagement")',
                type: 'POST',
                processData: false,
                contentType: false,
                data: formData,
				success: function (d) {
					if (d.data.length == 0) {
						_CompanyLawAttachmentsClearSearch()
						return;
					}
					$('#@Html.Raw(guid + "_attachmentContainer")').empty();
					$.each(d.data, function (i, e) {
							$('#@Html.Raw(guid + "_attachmentContainer")').append('<div class="card p-3 list-group-item list-group-item-action flex-column" style= "margin-bottom: 5px;" ><div class="d-flex w-100 justify-content-between" ><a class="mb-1" href="@Url.Action("GetCompanyLawAttachment", "CompanyLawAttachmentManagement")?companyLawAttachmentId=' + e.CompanyLawAttachmentId + '" data-holder-rendered="true">' + e.Name + '</a>@if (!companyLawIsCompleted && canDelete) {<text><small><a href="javascript:void(0)" onclick="RemoveCompanyLawAttachmentFromCompanyLaw(' + e.CompanyLawAttachmentId + ')">Excluir</a></small></text>}</div><small class="float-left">Data de criação: ' + e._CreatedDate + ' | Tamanho: ' + e.Length + ' B</small><br/></div >');
						});
					}
				});
        }
        function _CompanyLawAttachmentsClearSearch() {
            $('#@Html.Raw(guid + "_attachmentContainer")').empty();
			$('#@Html.Raw(guid + "_attachmentContainer")').append('<i>Nenhum anexo encontrado.</i>');
		}

		function RemoveCompanyLawAttachmentFromCompanyLaw(_companyLawAttachmentId) {
			if (confirm('Deseja realmente remover esse anexo?')) {
				_RemoveCompanyLawAttachmentFromCompanyLaw(_companyLawAttachmentId, function () {
					_ListCompanyLawAttachments(_companyLawId);
					alert('Anexo removido com sucesso!');
					$('#alertErrorAttachment').hide();
					$('#alertSuccessAttachment').hide();
					$('.text-danger').remove();
				});
			}
		}
		function _RemoveCompanyLawAttachmentFromCompanyLaw(_companyLawAttachmentId, callback) {
			var d = { companyLawAttachmentId: _companyLawAttachmentId };
			$.ajax({
				url: '@Url.Action("RemoveLawAttachmentFromCompanyLaw", "CompanyLawAttachmentManagement")',
				type: 'POST',
				data: d,
				dataType: 'json',
				success: callback
			});
		}

    </script>
</div>