@inject Web.Helpers.DropDownListHelper dropDownListHelper

@{
    var imgIndex = new Random().Next(1, 3);
    ViewData["imgIndex"] = imgIndex;

    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutClientLogin.cshtml";
}

<link href="@Url.Content("~/assets/css/new-client.css")" rel="stylesheet" />

<a href="http://www.destineja.com.br/" target="_blank" class="btn btn-destineja-orange client-login-more-info-button" style="top: @(imgIndex == 1? "28%" : "32%");">Saiba Mais</a>
<div id="container-client-login" class="d-flex align-items-center">
    <div class="arrow"></div>
    <div class="container">
        <form method="post" id="new-account-form">
            @if (ViewData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger" role="alert">@ViewData["ErrorMessage"]</div>
            }
            <div class="form-group">
                <div class="row row-xs">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" required name="CompanyName" placeholder="Nome da Empresa">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row row-xs">
                    <div class="col-sm-12">
                        <input type="text" class="form-control cnpj" required name="CNPJ" placeholder="CNPJ">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row row-xs">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" required name="FullName" placeholder="Nome Completo">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control cpf" required name="_CPF" placeholder="CPF">
            </div>
            <div class="form-group">
                <div class="row row-xs">
                    <div class="col-sm-6 form-group">
                        <input type="text" class="form-control phone-mask" name="Phone" placeholder="Telefone">
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control mobile-mask" required name="MobilePhone" placeholder="Celular">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="email" class="form-control" required placeholder="E-mail" name="Email">
            </div>
            <div class="form-group">
                <div class="row row-xs">
                    <div class="col-sm-6 form-group">
                        <input type="text" class="form-control" required placeholder="Cidade" name="City">
                    </div>
                    <div class="col-sm-6">
                        @Html.DropDownList("State", dropDownListHelper.GetStates(""), "Selecione", new { Class = "form-control w-100", required = "" })
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-destineja-orange btn-block singup-button">Cadastre-se</button>
            <div class="tx-center return-login-button">Já possuí conta? <a href="@Url.Action("Login")" class="tx-info">Entrar</a></div>
        </form>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $('#company-type').change(function () {
            $('.company-type-1').hide();
            $('.company-type-2').hide();

            if ($(this).val() == 1) $('.company-type-1').show();
            if ($(this).val() == 2) $('.company-type-2').show();

        });
    </script>
}