@model WEB.Models.MedicGroupEmailViewModel
@using WEB.Utils;

<style type="text/css">
	.margin-top {
		margin-top: .4em;
	}

	.half-margin-top {
		margin-top: .2em;
	}

	.font-normal-size, .font-normal-size * {
		font-size: 18px !important;
	}

	.title {
		font-size: 18px !important;
	}
</style>
<div class="margin-top font-normal-size" style="text-align: left;">
	Olá.
	<br />
	O usuário <b>@Model.User.FirstName  @Model.User.LastName</b> realizou a <b>@(Model.Action == MedicGroupEmailViewModel.MedicGroupEmailAction.Create? "inserção" : "exclusão")</b> de um médico.
	<br />
	Informações:
	<ul>
		<li>
			<b>Grupo Médico:</b> @Model.MedicGroup.MedicGroupName (@Model.MedicGroup.CNPJ);
		</li>
		<li>
			<b>Nome do Médico:</b> @Model.MedicGroupCRM.Nome;
		</li>
		<li>
			<b>CPF do Médico:</b> @Model.MedicGroupCRM.CPF;
		</li>
		<li>
			<b>CRM do Médico:</b> @Model.MedicGroupCRM.CRM (@Model.MedicGroupCRM.CRMEstado);
		</li>
		<li>
			<b>Ação Realizada:</b> @(Model.Action == MedicGroupEmailViewModel.MedicGroupEmailAction.Create? "Inserção" : "Exclusão") (@DateTime.Now.ToDateTimePtBR());
		</li>

	</ul>
</div>
