@model int

@inject WEB.BLL.MedicGroupFunctions medicGroupFunctions

@{
    ViewData["Title"] = $"{medicGroupFunctions.GetDataByID(Model).MedicGroupName}";
}

<div class="row">
	<div class="col-md-12">
		<div class="card" style="background-color:#e8e8e8;">
			<div class="card-body">
				<div class="row">
					<div class="col-md-10">
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fa fa-search guardmed-blue"></i></span>
							</div>
							<input id="MedicGroupCRMListSearch" type="text" class="form-control" placeholder="Procurar..." />
						</div>
					</div>
					<div class="col-md-2">
						<div class="btn-group" role="group" aria-label="Basic example">
							<a href="javascript:void(0)" class="btn btn-primary w-100" id="ImportarCRMBotao"><i class="fas fa-file-excel"></i>&nbsp;Importar</a>
							<a href="javascript:void(0)" class="btn btn-success w-100" id="NovoCRMBotao"><i class="fas fa-plus"></i>&nbsp;Novo</a>
						</div>

					</div>
				</div>
				<form id="CRMForm">
					<input id="CRMMedicGroupId" name="MedicGroupId" value="@Model" type="hidden" />
					<div class="row" style="display:none;" id="AreaNovoCRM">
						<div class="col-md-12">
							<hr />
							<div class="alert alert-danger alert-dismissible fade show" role="alert" id="AlertaErroCRM" style="display:none;">
								<b>Insira o CRM e o Estado do CRM!</b>
								<button type="button" class="close" onclick="function EsconderAlerta() { $('#AlertaErroCRM').hide(); }; EsconderAlerta()">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						</div>
						<div class="col-md-6 form-group">
							<input id="Nome" name="Nome" type="text" class="form-control" placeholder="Digite o Nome." />
						</div>
						<div class="col-md-6 form-group">
							<input id="CPF" name="CPF" type="text" class="form-control cpf" placeholder="Digite o CPF." />
						</div>
						<div class="col-md-6 form-group">
							<input id="CRM" name="CRM" type="text" class="form-control" placeholder="Digite o CRM." />
						</div>
						<div class="col-md-6 form-group">
							<select class="form-control" id="CRMEstado" name="CRMEstado">
								<option value="">Selecione um Estado</option>
								@foreach (var item in WEB.Utils.StatesUtils.GetEstados())
								{
									<option value="@item.EstadoId">@item.Description</option>
								}
							</select>
						</div>
						<div class="col-md-6 form-group">
							<button type="button" class="btn btn-secondary" id="CancelarCRMBotao"><i class="fas fa-times"></i>&nbsp;Cancelar</button>
						</div>
						<div class="col-md-6 form-group text-right">
							<button type="button" class="btn btn-success" id="SalvarCRMBotao"><i class="fas fa-upload"></i>&nbsp;Salvar</button>
						</div>
					</div>
					<div class="row" style="display:none;" id="AreaImportarCRM">
						<div class="col-md-12">
							<hr />
							<div class="alert alert-danger alert-dismissible fade show" role="alert" id="AlertaErroImportacaoCRM" style="display:none;">
								<b id="AlertaErroImportacaoCRMTexto">Insira o CRM e o Estado do CRM!</b>
								<button type="button" class="close" onclick="function EsconderAlerta() { $('#AlertaErroImportacaoCRM').hide(); }; EsconderAlerta()">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						</div>
						<div class="col-md-12 form-group">
							<div class="input-group">
								<input id="Arquivo" name="Arquivo" type="file" class="form-control" placeholder="Insira o arquivo." />
								<div class="input-group-append">
									<button type="button" class="btn btn-danger input-group-btn" id="CancelarImportacaoCRMBotao"><i class="fas fa-times"></i>&nbsp;Cancelar</button>
									<a href="~/assets/modeloImportacao/ModeloExportacaoProfissional.xlsx" download="ImportacaoCRMs.xlsx" class="btn btn-primary input-group-btn input-group-style"><i class="fas fa-file-download"></i>&nbsp;Modelo (xlsx)</a>
									<button type="button" class="btn btn-success input-group-btn" id="SalvarImportacaoCRMBotao"><i class="fas fa-file-upload"></i>&nbsp;Importar</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="col-md-12" style="margin-top:1em;">
		<div class="card">
			<div class="card-body">
				<div class="alert alert-success" id="AlertaSucessoCRM" style="display:none;" role="alert">
					<b>CRM adicionado com sucesso!</b>
				</div>
				<div class="row">
					<div class="col-md-12">
						<table class="table table-striped table-borderer" id="MedicGroupCRMListTable" style="width:100%;">
							<thead>
								<tr>
									<td>Nome</td>
									<td>CPF</td>
									<td>CRM</td>
									<td>UF</td>
									<td>&nbsp;</td>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

    MedicGroupCRMDatatables = $('#MedicGroupCRMListTable').DataTable({
	    proccessing: true,
        serverSide: true,
	    searching: true,
	    lengthChange: false,
	    dom: 'tip',
	    ajax: {
            url: '@Url.Action("MedicGroupCRMList", "MedicGroup")',
            data: function (d) {
                d.medicGroupId = '@Model'
            },
		    type: 'POST'
        },
        columns: [
            {
                data: 'Nome',
                render: function (data, type, row) {
                    return row.nome != null? row.nome : '-';
                }
            },
            {
                data: 'CPF',
                render: function (data, type, row) {
                    return row.cpf != null ? row.cpf : '-';
                }
            },
            {
                data: 'CRM',
                render: function (data, type, row) {
                    return row.crm;
                }
            },
            {
                data: 'CRMEstado',
                render: function (data, type, row) {
                    return row.crmEstado;
                }
            },
            {
                data: '',
                orderable: false,
                render: function (data, type, row) {
                    return '<div class="text-center"><a href="javascript:void(0)" class="fas fa-trash guardmed-blue" onclick="RemoverCRM(' + row.medicGroupCRMId + ',' + row.crm + ')"></a></div>';
                }
            }
	    ]
	});


    function RemoverCRM(medicGroupCRMId, crm) {
        if (confirm("Deseja remover o CRM: " + crm + "?")) {
            $.ajax({
                url: '@Url.Action("RemoverCRM", "MedicGroup")',
                type: 'POST',
                datatype: 'JSON',
                data: { medicGroupCRMId: medicGroupCRMId },
                success: function (data) {
                    $('#MedicGroupCRMListTable').DataTable().ajax.reload();
                    $('#MedicGroupListTable').DataTable().ajax.reload();
                    alert('CRM excluído com sucesso!');
                }
            });
        }
	}


    $('#SalvarCRMBotao').click(function () {

        if (ValidarCRM()) {
            SalvarCRM();
        }
    });

    function ValidarCRM() {
        var crm = false;
        var estado = false;


        $('#CRMForm .text-danger').remove();
        $('#AlertaErroCRM').hide();

        if (IsNullOrWhiteSpace($('#CRM').val())) {
            crm = true;
        }
        if (IsNullOrWhiteSpace($('#CRMEstado').val())) {
            estado = true;
        }

        var temErro = crm || estado;

        if (temErro) {
            $('#AlertaErroCRM').show();

            var text = 'Insira o CRM e Estado do CRM';

            if (crm && !estado) text = 'Insira o CRM';
            if (!crm && estado) text = 'Insira o Estado do CRM';

            $('#AlertaErroCRM b').text(text);
        }

        return !temErro;
    }

    function SalvarCRM() {
        var d = $('#CRMForm').serializeArray();

        $.ajax({
            url: '@Url.Action("SalvarCRM", "MedicGroup")',
            type: 'POST',
            datatype: 'JSON',
            data: d,
            success: function (data) {
                if (!data.temErro) {
                    $("#AreaNovoCRM").slideUp("slow");
                    ClearAllInputs();
                    $('#MedicGroupCRMListTable').DataTable().ajax.reload();
                    $('#MedicGroupListTable').DataTable().ajax.reload();
                    $('#AlertaSucessoCRM').show();
                    var contadorCRM;

                    clearTimeout(contadorCRM);
                    contadorCRM = setTimeout(EsconderAlertaCRM, 4000);

                    function EsconderAlertaCRM() {
                        $('#AlertaSucessoCRM').hide();
                    }
                }
                else {
                    alert(data.mensagem);
                }
            }
        });
	}


	function MedicGroupCRMListDoneTyping() {
		if ($.fn.DataTable.isDataTable('#MedicGroupCRMListTable')) {
			MedicGroupCRMDatatables.search($('#MedicGroupCRMListSearch').val()).draw();
		}
	}
	$('#MedicGroupCRMListSearch').keyup(function () {
		clearTimeout(MedicGroupCRMListTypingTimer);
		MedicGroupCRMListTypingTimer = setTimeout(MedicGroupCRMListDoneTyping, MedicGroupCRMListDoneTypingInterval);
	});
	$('#MedicGroupCRMListSearch').keydown(function () {
		clearTimeout(MedicGroupCRMListTypingTimer);
	});

	$('#NovoCRMBotao').click(function () {
		$("#AreaImportarCRM").slideUp("slow");
		$("#AreaNovoCRM").slideDown("slow");
		ClearAllInputs();
	});

	$('#ImportarCRMBotao').click(function () {
		$("#AreaNovoCRM").slideUp("slow");
		$("#AreaImportarCRM").slideDown("slow");
		ClearAllInputs();
	});

	$('#CancelarCRMBotao').click(function () {
		$('#CRMForm .text-danger').remove();
		$('#AlertaErroCRM').hide();
		ClearAllInputs();
		$("#AreaNovoCRM").slideUp("slow");
	});

	$('#CancelarImportacaoCRMBotao').click(function () {
		$('#AlertaErroImportacaoCRM').hide();
		ClearAllInputs();
		$("#AreaImportarCRM").slideUp("slow");
	});


    $('#SalvarImportacaoCRMBotao').click(function () {

        var datafile = new FormData();
        $('#AlertaErroImportacaoCRM').hide();

        if (document.getElementById('Arquivo').files.length <= 0) {
            $('#AlertaErroImportacaoCRMTexto').text('Insira um Arquivo.');
            $('#AlertaErroImportacaoCRM').show();
            return;
        }

        datafile.append("Arquivo", document.getElementById('Arquivo').files[0]);
        datafile.append("medicGroupId", $('#CRMMedicGroupId').val());

        $.ajax({
            url: '@Url.Action("ImportarCRMs", "MedicGroup")',
            type: 'POST',
            contentType: false,
            processData: false,
            data: datafile,
            success: function (data) {
                ClearAllInputs();
                if (data.temErro == false) {
                    $('#AlertaErroImportacaoCRM').hide();
                    $('#MedicGroupCRMListTable').DataTable().ajax.reload();
                    $('#MedicGroupListTable').DataTable().ajax.reload();
                    alert(data.mensagem);
                    $("#AreaImportarCRM").slideUp("slow");
                } else {
                    $('#AlertaErroImportacaoCRM').show();
                    $('#AlertaErroImportacaoCRMTexto').text(data.mensagem);
                }
            }
        });
    });

    function ClearAllInputs() {
        $("#CRM").val("");
        $("#CRMEstado").val("");
        $("#Nome").val("");
        $("#CPF").val("");
        $("#Arquivo").val("");
    }
</script>