@{
    Layout = null;
}
<div class="row mt-lg-5 mb-lg-5">
    <div class=" col-12">
        <a href="@Url.Action("UserRegistration", "Admin")" class="btn btn-block btn-success">
           Cadastro de Usuários
        </a>
    </div>
</div>
<div class="row mb-lg-5">
    <div class=" col-12">
        <a href="@Url.Action("Index", "Home")" class="btn btn-block btn-secondary">
            Nova Assinatura
        </a>
    </div>
</div>
<div class="row mb-lg-5">
    <div class=" col-12">
        <a href="@Url.Action("UpgradeSubscription", "Home")" class="btn btn-block btn-success">
            Certificado 2°via
        </a>
    </div>
</div>
<div class="row mb-lg-5">
    <div class=" col-12">
        <a href="@Url.Action("Unsubscribe", "Subscription")" class="btn btn-block btn-secondary">
            Cancelamento de Assinatura
        </a>
    </div>
</div>
<div class="row mb-lg-5">
    <div class=" col-12">
        <a href="@Url.Action("UpdateAccount", "Home")" class="btn btn-block btn-success">
            Atualização Cadastral
        </a>
    </div>
</div>
<div class="row mb-lg-5">
    <div class=" col-12">
        <a href="@Url.Action("Campaign", "Admin")" class="btn btn-block btn-secondary">
           Campanha
        </a>
    </div>
</div>