@{
    Layout = null;
}
<div class="row mt-lg-5 mb-5">
    <div class=" col-12">
        <a href="@Url.Action("Index", "Home")" class="btn btn-block btn-secondary">
            Nova Assinatura
        </a>
    </div>
</div>
<div class="row mb-5">
    <div class=" col-12">
        <button class="btn btn-block btn-primary" disabled="disabled">Certificado 2°via</button>
        @*<a href="@Url.Action("UpgradeSubscription", "Home")" class="btn btn-block btn-primary">
            Certificado 2°via
        </a>*@
    </div>
</div>
<div class="row mb-5">
    <div class=" col-12">
        <button class="btn btn-block btn-secondary" disabled="disabled">Programa de Relacionamentos</button>
        @*<a href="@Url.Action("RelationshipProgram", "Home")" class="btn btn-block btn-secondary">
            Programa de Relacionamentos
        </a>*@
    </div>
</div>
<div class="row mb-5">
    <div class=" col-12">
        @*<button class="btn btn-block btn-primary" disabled="disabled">Atualização Cadastral</button>*@
        <a href="@Url.Action("UpdateAccount", "Home")" class="btn btn-block btn-primary">
            Atualização Cadastral
        </a>
    </div>
</div>
<div class="row mb-5">
    <div class=" col-12">
        <button class="btn btn-block btn-secondary" disabled="disabled">Administrador</button>
        @*<a href="@Url.Action("AdminArea", "Home")" class="btn btn-block btn-secondary">
            Administrador
        </a>*@
    </div>
</div>