@model GuardMedWeb.Models.SeguradoProfissionalViewModel
@{
    ViewData["Title"] = "Seguro Profissional AmaisVet";
}
<div class="row">
    <div class="col-md-2">
        <img src="@Url.Content("~/css/images/logo.png")" class="img-circle float-left" width="240" height="80">
    </div>
    <div class="col-md-8">
        <h2 class="mx-auto text-center amaisvet-green">Seguro Profissional AmaisVet <small>&#174;</small><br /><small>Referência&nbsp;#@Model.SeguradoProfissionalId</small></h2>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-sm-8 mx-auto">
        <div class="col-sm-12">
            <div class="col-sm-12 form-row">
                <div class="rectangle" id="retangle1" style="height: 10px; width:17%; margin-left:8%; background:lightgrey;"></div>
                <div class="rectangle" id="retangle2" style="height: 10px; width:17%; background:lightgrey;"></div>
                <div class="rectangle" id="retangle3" style="height: 10px; width:17%; background-color:lightgrey;"></div>
                <div class="rectangle" id="retangle4" style="height: 10px; width:17%; background-color:lightgrey;"></div>
                <div class="rectangle" id="retangle5" style="height: 10px; width:17%; background-color:lightgrey;"></div>
            </div>
            <div class="col-sm-12 ">
                <div class="row">
                    <div class="col-md-2">
                        <div class="mx-auto bigcircle" id="circle1" style="background-color: lightgrey; "></div>
                        <div class="mx-auto smallcircle" id="smallCircle1" style="background: white; display:none;"></div>
                    </div>
                    <div class="col-md-2">
                        <div class="mx-auto bigcircle" id="circle2" style="background-color: lightgrey;"></div>
                        <div class="mx-auto smallcircle" id="smallCircle2" style="background: white; display:none;"></div>
                    </div>
                    <div class="col-md-2">
                        <div class="mx-auto bigcircle" id="circle3" style="background-color: lightgrey;"></div>
                        <div class="mx-auto smallcircle" id="smallCircle3" style="background: white; display:none;"></div>
                    </div>
                    <div class="col-md-2">
                        <div class="mx-auto bigcircle" id="circle4" style=" background-color: lightgrey;"></div>
                        <div class="mx-auto smallcircle" id="smallCircle4" style="background: white; display:none;"></div>
                    </div>
                    <div class="col-md-2">
                        <div class="mx-auto bigcircle" id="circle5" style=" background-color: lightgrey;"></div>
                        <div class="mx-auto smallcircle" id="smallCircle5" style="background: white; display:none;"></div>
                    </div>
                    <div class="col-md-2">
                        <div class="mx-auto bigcircle" id="circle6" style=" background-color: lightgrey;"></div>
                        <div class="mx-auto smallcircle" id="smallCircle6" style=" background: white; display:none;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 form-row">
            <div class="col-sm-2 "><div class="text-center" style="margin-left:10px;"><label class="text-center">Simulação</label></div></div>
            <div class="col-sm-2 "><div class="text-center"><label class="text-center">Escolha seu Plano</label></div></div>
            <div class="col-sm-2 "><div class="text-center" style="margin-left:10px;"><label class="text-center">Proposta</label></div></div>
            <div class="col-sm-2"> <div class="text-center" style="margin-right:-10px;"><label class="text-center">Forma de Pagamento</label></div></div>
            <div class="col-sm-2"> <div class="text-center" style="margin-right:-10px;"><label class="text-center">Contratar</label></div></div>
            <div class="col-sm-2"> <div class="text-center" style="margin-right:-20px;"><label class="text-center">Impressão</label></div></div>
        </div>
    </div>
</div>
<br />
<script type="text/javascript">
    $('#circle1').css("background", "#0a754e");
    $('#circle2').css("background", "#0a754e");
    $('#circle3').css("background", "#0a754e");
    $('#circle4').css("background", "#0a754e");
    $('#circle5').css("background", "#0a754e");
    $('#retangle1').css("background", "#13D68F");
    $('#retangle2').css("background", "#13D68F");
    $('#retangle3').css("background", "#13D68F");
    $('#retangle4').css("background", "#13D68F");
    $('#smallCircle5').show();
</script>
<br />
<form id="ConfirmacaoForm" method="post" enctype="multipart/form-data">
    <input type="hidden" id="PrecoTotal" name="PrecoTotal" value="@Model.PrecoTotal" />
    <input type="hidden" id="PagamentoTipoId" name="PagamentoTipoId" value="@Model.PagamentoTipoId" />
    <input type="hidden" id="SeguradoProfissionalId" name="SeguradoProfissionalId" value="@Model.SeguradoProfissionalId" />
    <input type="hidden" id="VezesPagamento" name="VezesPagamento" value="@Model.VezesPagamento" />
</form>
<div class="form-row">
    <div class="col-md-2" align="center">
        <div style="width:100px;height:100px; background:lightblue;">
        </div>
    </div>
    <div class="col-md-7 ">
        <label class="control-label col-md-12"><strong>A Mais Vet </strong></label>
        <label class="control-label col-md-12">
            Rua Manoel Nóbrega, 354<br />
            São Paulo, São Paulo, 04001001, Brasil.
        </label>
        <label class="control-label col-md-12">
            Email: contato@amaisvet.com.br<br />
            Telefone: 55 (11) 3253-3678
        </label>
    </div>
    <div class="col-md-3 float-right">
        <label class="control-label">
            Data de emissão: <strong><label class="date">@DateTime.Now</label></strong><br />
            Data de validade: <strong><label class="date">@DateTime.Now.AddDays(5)</label></strong>
        </label>
    </div>
</div>
<hr />
<div class="form-row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <h3 class="amaisvet-green">Dados pessoais</h3>
        <label class="control-label">
            <strong>@Model.Nome</strong><br />
            <strong>Data de nascimento:</strong> <span class="date">@Model.DataNascimento</span><br />
            <strong>CPF:</strong> @Model.CPF<br />
            <strong>CRM/Estado:</strong> @Model.CRM/@Model.EstadoCRM<br />
            <strong>CEP:</strong> @Model.CEP<br />
            <strong>Cidade/Estado:</strong> @Model.Cidade/@Model.Estado<br />
            <strong>Endereço:</strong> @Model.Endereco, @Model.EnderecoNumero&nbsp;<br />
            @if (!string.IsNullOrWhiteSpace(Model.Complemento))
            {<text><strong>Complemento:</strong> @Model.Complemento<br /></text>}
            <strong>Telefone:</strong> @Model.Telefone<br />
            <strong>E-mail:</strong> @Model.Email
        </label>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <h3 class="amaisvet-green">Dados do Plano</h3>
        <label class="control-label">
            <strong>@Model.PlanoSeguroProfissionalNome</strong><br />
            @if (Model.PlanoSeguroProfissionalId == 1)
            {
                <text>
                    <strong>Responsabilidade Civil Profissional:</strong>R$ 50.000,00<br />
                    <strong>Perda De Renda Decorrente De Afastamento Por Doença:</strong> -<br />
                    <strong>Perda De Renda Decorrente De Afastamento Por Acidente:</strong> -<br />
                    <strong>Morte Acidental:</strong> -<br />
                    <strong>Invalidez Por Acidente:</strong> -<br />
                    <strong>Assistência:</strong> -<br />
                    <strong>Assistência Funeral:</strong>
                </text>
            }
            else if (Model.PlanoSeguroProfissionalId == 2)
            {
                <text>
                    <strong>Responsabilidade Civil Profissional:</strong>R$ 50.000,00<br />
                    <strong>Perda De Renda Decorrente De Afastamento Por Doença:</strong> 12x R$ 2.500<br />
                    <strong>Perda De Renda Decorrente De Afastamento Por Acidente:</strong> 12x R$ 2.500<br />
                    <strong>Morte Acidental:</strong> R$ 15.000,00<br />
                    <strong>Invalidez Por Acidente:</strong> R$ 15.000,00<br />
                    <strong>Assistência:</strong> Farmácia<br />
                    <strong>Assistência Funeral:</strong> R$ 4.000,00
                </text>
            }
            else if (Model.PlanoSeguroProfissionalId == 3)
            {
                <text>
                    <strong>Responsabilidade Civil Profissional:</strong>R$ 50.000,00<br />
                    <strong>Perda De Renda Decorrente De Afastamento Por Doença:</strong> 12x R$ 3.500<br />
                    <strong>Perda De Renda Decorrente De Afastamento Por Acidente:</strong> 12x R$ 3.500<br />
                    <strong>Morte Acidental:</strong> R$ 30.000,00<br />
                    <strong>Invalidez Por Acidente:</strong> R$ 30.000,00<br />
                    <strong>Assistência:</strong> Farmácia<br />
                    <strong>Assistência Funeral:</strong> R$ 4.000,00
                </text>
            }
            else if (Model.PlanoSeguroProfissionalId == 4)
            {
                <text>
                    <strong>Responsabilidade Civil Profissional:</strong>R$ 50.000,00<br />
                    <strong>Perda De Renda Decorrente De Afastamento Por Doença:</strong> 12x R$ 5.000<br />
                    <strong>Perda De Renda Decorrente De Afastamento Por Acidente:</strong> 12x R$ 5.000<br />
                    <strong>Morte Acidental:</strong> R$ 45.000,00<br />
                    <strong>Invalidez Por Acidente:</strong> R$ 45.000,00<br />
                    <strong>Assistência:</strong> Farmácia<br />
                    <strong>Assistência Funeral:</strong> R$ 4.000,00
                </text>
            }
        </label>
    </div>
    <div class="col-md-1"></div>
</div>
<hr />
<div class="form-row">
    <div class="col-md-4"></div>
    <div class="col-md-5">
        <h3 class="amaisvet-green">Coberturas e Franquias</h3>
        <div class="row">
            <div class="col-md-12">
                <span class="text-left"><strong>Perda de Renda por Incapacidade Física Total e Temporária por Acidente ou Doença - Doença: </strong>15 dias</span>
            </div>
            <div class="col-md-12">
                <span class="text-left"><strong>Perda de Renda por Incapacidade Física Total e Temporária por Acidente ou Doença - Acidente: </strong>Não há</span>
            </div>
            <div class="col-md-12">
                <strong>Morte Acidental :</strong><label>&nbsp;Não há</label>
            </div>
            <div class="col-md-12">
                <strong>Invalidez Permanente Total ou Parcial por  Acidente :</strong><label>&nbsp;Não há</label>
            </div>
            <div class="col-md-12">
                <strong>Assistência Funeral Individual :</strong><label>&nbsp;Não há</label>
            </div>
            <div class="col-md-12">
                <strong>Assistência Farmácia :</strong><label>&nbsp;Não há</label>
            </div>
        </div>
    </div>
</div>
<hr />
<br />
<div class="form-group">
    <a href="@Url.Action("Pagamento","SeguroProfissional")?seguradoProfissionalId=@Model.SeguradoProfissionalId" class="btn btn-secondary float-left"><i class="fas fa-arrow-left"></i>&nbsp;Voltar</a>
    <a href="@Url.Action("Impressao", "SeguroProfissional")?seguradoProfissionalId=@Model.SeguradoProfissionalId" id="ConfirmacaoButton" class="btn btn-primary float-right">Transmitir&nbsp;<i class="fas fa-check"></i></a>
</div>
