@model List<DAL.CompanyLawView>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-center">
            <input class="form-check-input" id="AuditCompanyLawSelect_SelectAll" type="checkbox" value="">
            <label class="form-check-label">Selecionar Tudo</label>
            <script type="text/javascript">
                $('#AuditCompanyLawSelect_SelectAll').change(function () {
                    var checked = this.checked;
                    $.each($('#AuditCompanyLawSelect_Container input[type="checkbox"]'), function (i, e) {
                        this.checked = checked;
                    });
                });
            </script>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="list-group" id="AuditCompanyLawSelect_Container">
                <table class="table table-bordered table-condesed">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Número</th>
                            <th>Órgão</th>
                            <th>Data</th>
                            <th>Segmento</th>
                            <th>Título</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                        <tr>
                            <td><input type="checkbox" data-company-law-id="@item.CompanyLawId" value=""></td>
                            <td>@item.LawNumber</td>
                            <td>@item.LawOrgaoName</td>
                            <td>@item._LawForceDate</td>
                            <td>@item.LawSegmentoName</td>
                            <td>@item.LawTitle</td>
                        </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function AuditCompanyLawSelectSave() {
        return $.map($('#AuditCompanyLawSelect_Container input[type="checkbox"]'), function (e) {
            if (e.checked) return $(e).data('company-law-id');
        });
    }
</script>
