@{
    ViewData["Title"] = "Preventive/Advisor";
}

<style type="text/css">
    .card-body a {
        color: black !important;
    }

    .card-body li {
        margin-bottom: 5px;
    }

    .card-body ul {
        list-style: none;
    }
</style>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <label>Trata-se da chamada advocacia preventiva tão importante na atividade médica.</label>
                <label>No Preventive/Advisor o cliente GUARDMED  encontra:</label>
                <ul>
                    <li>Modelos de documentos e contratos ligados à atividade médica;</li>
                    <li>Compilado de legislações pertinentes à área;</li>
                    <li>
                        <div style="line-height: 5px;">Lista de documentos que poderão ser úteis numa eventual defesa do médico;</div>
                        <div><small><b style="font-size: 12px;">*</b> Esse material foi compilado a partir de pesquisa junto as bases processuais dos diversos Tribunais do país e deve ser utilizado somente como consulta prévia, certo de que de modo algum exaure as demais possibilidades de prova.</small></div>
                    </li>
                    <li>Canal de comunicação direto com o jurídico para esclarecimento de dúvidas relacionadas à responsabilidade civil médica;</li>
                    <li>Consultivo jurídico, limitado a uma consulta presencial por mês;</li>
                    <li>Contato telefônico e por email ilimitado</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br />
<div class="card">
    <div class="card-header">
        <i class="fas fa-file-medical"></i>&nbsp;Legislação da Área Médica
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <b>Arquivos:</b>
                <hr />
                <ul>
                    <li><a target="_blank" title="Visualizar" href="http://www.planalto.gov.br/ccivil_03/_Ato2011-2014/2013/Lei/L12842.htm"><img src="~/image/pdf_icon.png" style="width:20px; height:20px;" />&nbsp;LEI Nº 12.842, DE 10 DE JULHO DE 2013: Dispõe sobre o exercício da Medicina.</a></li>
                    <li><a target="_blank" title="Visualizar" href="http://www.planalto.gov.br/ccivil_03/leis/l9656.htm"><img src="~/image/pdf_icon.png" style="width:20px; height:20px;" />&nbsp;LEI Nº 9.656, DE 3 DE JUNHO DE 1998: Dispõe sobre os planos e seguros privados de assistência à saúde.</a></li>
                    <li><a target="_blank" title="Visualizar" href="http://www.planalto.gov.br/ccivil_03/LEIS/L9263.htm"><img src="~/image/pdf_icon.png" style="width:20px; height:20px;" />&nbsp;LEI Nº 9.263, DE 12 DE JANEIRO DE 1996: Regula o § 7º do art. 226 da Constituição Federal, que trata do planejamento familiar, estabelece penalidades e dá outras providências.</a></li>
                    <li><a target="_blank" title="Visualizar" href="https://a5de74b9-7468-4ca6-8656-0b231511a918.filesusr.com/ugd/d6042a_1f647b4b529947808c4ae0746d56ebed.pdf"><img src="~/image/pdf_icon.png" style="width:20px; height:20px;" />&nbsp;RESOLUÇÃO CFM Nº 1.974/2011: Estabelece os critérios norteadores da propaganda em Medicina, conceituando os anúncios, a divulgação de assuntos médicos, o sensacionalismo, a autopromoção e as proibições referentes à matéria.</a></li>
                    <li><a target="_blank" title="Visualizar" href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/L13787.htm"><img src="~/image/pdf_icon.png" style="width:20px; height:20px;" />&nbsp;LEI Nº 13.787, DE 27 DE DEZEMBRO DE 2018: Dispõe sobre a digitalização e a utilização de sistemas informatizados para a guarda, o armazenamento e o manuseio de prontuário de paciente.</a></li>
                    <li><a target="_blank" title="Visualizar" href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/L13709.htm"><img src="~/image/pdf_icon.png" style="width:20px; height:20px;" />&nbsp;LEI Nº 13.709, DE AGOSTO DE 2018: Dispõe sobre a proteção de dados pessoais e altera a Lei nº 12.965, de 23 de abril de 2014 (Lei geral de proteção de dados)</a></li>
                    <li><a target="_blank" title="Visualizar" href="https://a5de74b9-7468-4ca6-8656-0b231511a918.filesusr.com/ugd/d6042a_107b01ae04fc4c1881314aa2f5b5f86e.pdf"><img src="~/image/pdf_icon.png" style="width:20px; height:20px;" />&nbsp;Decisão Judicial: Falta de informação adequada sobre risco cirúrgico justifica indenização por danos morais</a></li>
                    <li><a target="_blank" title="Visualizar" href="https://a5de74b9-7468-4ca6-8656-0b231511a918.filesusr.com/ugd/d6042a_60caea500cc34860b3c9b93067237344.pdf"><img src="~/image/pdf_icon.png" style="width:20px; height:20px;" />&nbsp;Decisão Judicial: Médico e hospital terão de pagar indenização por erro que causou sequelas em bebê</a></li>
                    <li><a target="_blank" title="Visualizar" href="https://a5de74b9-7468-4ca6-8656-0b231511a918.filesusr.com/ugd/d6042a_9af6c35d429b461da214d3d4415b0635.pdf"><img src="~/image/pdf_icon.png" style="width:20px; height:20px;" />&nbsp;Decisão Judicial: Danos morais. Erro médico em cirurgia ortopédica. Responsabilidade civil solidária e subjetiva do Hospital e do médico integrante do seu corpo clínico. </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br />
<div class="card">
    <div class="card-header">
        <i class="fas fa-file-signature"></i>&nbsp;Modelos de Contratos e Termos
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <b>Modelos:</b>
                <hr />
                <ul>
                    <li><a title="Baixar" href="@Url.Action("Download", "Home", new { name = "Contrato de P SV médicos.pdf" })"><img src="~/image/pdf_icon.png" style="width:20px; height:20px;" />&nbsp;Contrato de Prestação de Serviços Médicos</a></li>
                    <li><a title="Baixar" href="@Url.Action("Download", "Home", new { name = "Contrato Locação comercial.pdf" })"><img src="~/image/pdf_icon.png" style="width:20px; height:20px;" />&nbsp;Contrato de Locação Comercial</a></li>
                    <li><a title="Baixar" href="@Url.Action("Download", "Home", new { name = "Contrato RPA médicos.pdf" })"><img src="~/image/pdf_icon.png" style="width:20px; height:20px;" />&nbsp;Contrato de Registro de Profissional Autônomo</a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <b>Termos:</b>
                <hr />
                <ul>
                    <li><a title="Baixar" href="@Url.Action("Download", "Home", new { name = "Termo de consentimento livre e esclarecido.pdf" })"><img src="~/image/pdf_icon.png" style="width:20px; height:20px;" />&nbsp;Termo de consentimento livre e esclarecido</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <a class="btn btn-secondary" href="@Url.Action("Legal", "Home")"><i class="fas fa-arrow-left"></i>&nbsp;Voltar</a>
    </div>
</div>
